:root {
    --rojo: red;
    --verde: #080;
    --azul: #7b7be6;
    --naranja: #f58f09;
    --borde: yellow;
    --texto: lightblue;
    --fuente:  Verdana, Geneva, Tahoma, sans-serif;
    --tamaño: 30px;
}
body {
    background-color: rgb(211, 240, 158);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#layout {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    border: 3px solid black;
    padding: 5px;
}
.caja {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--texto);
    padding: 20px;
    border: 3px solid var(--borde);
    margin: 10px;
}

.red {
    background-color: var(--rojo);
    flex-basis: calc((100% / 3) - 68px);
    font-family: var(--fuente);
    font-size: var(--tamaño);
}
.green {
    background-color: var(--verde) ;
    flex-basis: calc((100% / 3) - 68px);
}
.blue {
    background-color:  var(--azul);
    flex-basis: calc((100% / 3) - 68px);
}
.orange {
    background-color: var(--naranja);
    flex-basis: 100%;
}