body {
    background-color: #c3e2a9;
}
h1 {
    color: #0814c5;
}
.container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 50px 1fr  80px;
min-height: 80dvh;
grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";
}

.container header {
    background-color: #93c508;
    grid-area: header;
}
.container aside {
    background-color: #ca8fca;
    grid-area: aside;

}
.container main {
    background-color: #db2d44;
    grid-area: main;

}
.container footer{
    background-color: #b6b4b2;
    grid-area: footer;

}
@media (max-width: 300px) {
    .container {
        grid-template-areas: 
    "header aside "
    " main main"
    "footer footer ";
    }
    .container footer {
        background-color: #edfd04;
    }  
}
    
    @media (max-width: 800px) {
        .container {
            grid-template-areas: 
        "header header . "
        "aside main main"
        "aside footer footer ";
        }
        .container header {
            background-color: #4adcf0;
        }    
    }

    