body {
    background-color: #e0eeae;
    font-family: 'roboto','sans-serif';
}
h1 {
    color: #0520b4;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
}
div h2 {
    color: rgb(24, 11, 211)
}
/*ID Y CLASES*/
#parrafo-especial {
    color: brown;
    font-size: 1.5em;
    font-weight: bold;
}
.parrafo {
    font-style: italic;
}
a, img {
    display: block;
}
a {
    margin: 50px 20px;
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #0520b4;
}
img {
    width: 70%;
    margin: auto;
}