body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.layout {
    width: 1200px;
    min-height: 400px;
    margin: 0 auto;

    /*Definir el grid-layout*/
    display: grid;
    /*diferentes medidas de cajas.*/    
    grid-template-columns: repeat(3, 1fr);
    /*crear o definir las filas*/
    
    grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr);


    /*Espacio entre elementos grid*/
    grid-gap: 10px;
    padding: 10px;
    border: 3px solid orangered;
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: #464444;
    padding: 20px;
    border: 4px solid #222;
    background-color: gray;
    font-size: 16px;
}
.layout .red {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1 / 2;

    background-color: red;
}
.layout .green {
    grid-column: 1 / 2;
    grid-row: 2 / 6;

    background-color: green;
}
.layout .blue {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    background-color: blue;
}
.layout .pink {
    grid-column:  2/ 3 ;

    grid-row-start: 3;
    grid-row-end: 5;

    background-color: pink;
}
.layout .orange {
    grid-column: 3 / 4 ;
    grid-row: 3 / 5 ;

    background-color: orange;
}
.layout .lightblue {
    grid-column: 2 / 5 ;
    grid-row: 5 / 5;

    background-color: lightblue;
}
.layout .yellow {

    background-color: yellow;
}
.layout .lightgreen {
    background-color: lightgreen;
}