<<<<<<< HEAD
body {
    background-color: #a1b863;
}
h1 {
    color: #0520b4;
=======
body {
    background-color: #a1b863;
}
h1 {
    color: #0520b4;
>>>>>>> a81cce33d5d6b5790f7e9ff68a4a4c46f5579861
}