body {
    background-color: #22f8b8;
    display: grid;
    place-content: center;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    color: #1c144b;
    margin: 0; /* Elimina el margen predeterminado del body */
    overflow: hidden; /* Evita que aparezca una barra de desplazamiento horizontal */
}

img {
    width: 80px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: mover 3s ease-in-out 2s 3 alternate forwards;

animation-name: mover;
animation-duration: 3s;
animation-timing-function: ease-in-out;
animation-delay: 2s;
animation-iteration-count: 3;
animation-direction: alternate; /*va hacia una dirección y luego vuelve al contrario  */
animation-fill-mode: forwards; /* por defecto en NONE, No se aplican estilos antes ni después de la animación, FORWARDS:
Después de que la animación termine, los estilos del último fotograma de la animación se mantienen aplicados al elemento.BACKWARDS, Antes de que la animación comience, se aplican los estilos del primer fotograma de la animación, aunque la animación aún no haya empezado, BOTH, Combina los efectos de forwards y backwards.  */
animation: mover 3s steps(10) both, agrandar 1s linear 2s both;

    &:hover {  /*poniendo &:hover{} podemos poner dentro del elemento lo que queremos que haga cuando está hover  */
        animation-play-state: paused;
        opacity: .7;
        cursor: progress;
        background-color: #ec8907;
    }
}
img:hover {
    opacity: 1;
    /*poniendo &:hover{} podemos poner dentro del elemento lo que queremos que haga cuando está hover  y sustituimos el img:hover {
} que se pone fuera  */
}
@keyframes mover {
    from {
        transform: translateX(0);
        opacity: 0;
    }
    to {
        transform: translateX(300px); /* Mueve la imagen hasta el borde derecho */
        opacity: 1;
    }
}
@keyframes agrandar {
    0% {
        scale:1;
    }
    20% {
        scale:1.4;
    }
    40% {
        scale: 1.8;
    }
    60% {
        scale:2.2;
    }
    80% {
        scale:2.8;
    }
    100% {
        scale:3.5;
    }
}