* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(207, 207, 219);
}

.clearfix {
    float: none;
    clear: both;
}

#container {
    width: 70%;
    background-color: rgb(240, 42, 42);
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

header {
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #7eeef1;
    color: #333;
    font-family: 'arial', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside {
    width: 25%;
    background-color: #ccc;
    float: left;
    min-height: 700px;
    line-height: 700px;
    text-align: center;
}

#articles {
    width: 75%;
    min-height: 700px;
    float: left;
    background-color: #f7e757;
}

#articles article {
    width:  25%;
    height: 150px;
    line-height: 150px;
    background-color: chartreuse;
    color: #ffffff;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

/*RESPONSIVE*/
/*  Desde el width 0px hasta 888px  */
@media (max-width: 888px){
    /*se ejecutarán estos estilos*/
    #articles article {
        width: 40%;
        background-color: red;
    }
    body {
        background-color: lightgreen;
    }
}
/*  Desde el width 0px hasta 662px  */
@media (max-width: 632px){
    /*se ejecutarán estos estilos*/
    #container {
        overflow: hidden;
    }
    #articles {
        width: 100%;
    }
    aside {
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 19px ;
    }
    #articles article {
        width: 90%;
        background-color: blue;
    }
    body {
        background-color: yellowgreen;
    }
}
/*  Desde el width 0px hasta 554px  */
@media (max-width: 554px){
    /*se ejecutarán estos estilos*/
    body {
        background-color: sandybrown;
    }
}

